body {
  background-color: #f0f0f0;
  font-family: "Courier New", Courier, monospace, sans-serif;
  margin: 0;
  padding: 0;
}

body h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
}

#synth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 2em;
}

#piano {
  display: flex;
  height: 120px;
  width: 600px;
}

.key {
  border: 1px solid #000;
  box-sizing: border-box;
  height: 100%;
  width: 60px;
  -webkit-user-select: none;
  user-select: none;
}

.white {
  background-color: #fff;
  text-align: center;
}

.white:hover {
  background-color: #f0f0f0;
}

.white:active {
  background-color: #ff0000;
}

.black {
  background-color: #000;
  height: 60%;
  margin: 0 -10px;
  width: 40px;
  z-index: 1;
  color: white;
  text-align: center;
}

.black:hover {
  background-color: #333;
}

.black:active {
  background-color: #ff0000;
}

#console {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 2ch;
}

#filter-sliders {
  text-align: center;
}

#filter-sliders>div {
  display: flex;
  gap: 2ch;
}
